@import 'variables';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    margin-left: $space-3;
    margin-right: $space-3;
    padding-bottom: $space-2;
    padding-top: $space-2;

    @media screen and (max-width: $lg) {
        margin-left: $space-1;
        margin-right: $space-1;
    }
}