// Layout
$sm: 375px;
$lg: 992px;

// Colors
$darkBlue: rgb(43, 57, 69);
$darkModeText: rgb(32, 44, 55);
$lightModeText: rgb(17, 21, 23);
$darkGray: rgb(133, 133, 133);
$lightGray: rgb(250, 250, 250);
$white: rgb(255, 255, 255);

//Fonts
$normal: 300;
$semiBold: 600;
$bold: 800;

//Spacing
$space-1: 1rem;
$space-2: 2rem;
$space-3: 7rem;